@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&family=Syne:wght@400..800&display=swap');

:root {
  --js-coral: #e5897b;
  --js-peach: #ffd2ab;
  --js-ruby: #ba5067;
  --js-plum: #5b3049;
  --js-mud: #736359;
  --js-grass: #bcbe9b;  
  --js-straw: #fff7cf;
  --js-white: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}




body {  
  background: var(--js-straw);
  color: var(--js-ruby)
}

/* Typography */

h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  font-style: italic;  
}

h2 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 600;
  margin-block: 0 2rem;
  mix-blend-mode: multiply;
}

h3 {
  font-size: clamp(3rem, 5vw, 3rem);
  font-weight: 700;
  mix-blend-mode: multiply;
  /*  */
  margin: 6rem 0 1rem;
}

p {
  font-size: clamp(1.25rem, 3vw, 3rem);
  mix-blend-mode: multiply;
  text-decoration: none;
  color: inherit;
}

a, a:hover, a:active, a:visited, a:link, a:hover {
  font-size: clamp(1.25rem, 3vw, 3rem);
  color: inherit;
  mix-blend-mode: color-dodge;
  text-decoration: none;
  opacity: 0.7;
}

a:hover {
  text-decoration: underline;
}