@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html, body {
  overflow-x: hidden;
}

body {  
  background: var(--js-straw);
  color: var(--js-ruby)
}

/* Typography */

h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  font-style: italic;  
}

h2 {
  font-size: clamp(4rem, 10vw, 8rem);
  font-weight: 600;
  margin-bottom: 6rem;  
  text-align: center;
  mix-blend-mode: multiply;
}

h3 {
  font-size: clamp(3rem, 5vw, 3rem);
  font-weight: 700;
  mix-blend-mode: multiply;
  /*  */
  margin: 0 0 1rem;
}

p {
  font-size: clamp(1.25rem, 3vw, 3rem);
  mix-blend-mode: multiply;
  text-decoration: none;
  color: inherit;
}

a, a:hover, a:active, a:visited, a:link, a:hover {
  font-size: clamp(1.25rem, 3vw, 3rem);
  color: inherit;
  mix-blend-mode: color-dodge;
  text-decoration: none;
  opacity: 0.7;
}

a:hover {
  text-decoration: underline;
}

.Content-panel:not(.Biography) {
  
  h2 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.lilita {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

