@import './base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
  /* background: url(@/assets/pisces.png); */
  background-color: var(--js-peach);
  
  /* cursor: url(./pisces.png) 40 40, auto; */
}

*::selection {
  color: var(--js-peach);
  background-color: var(--js-ruby);
}